<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>

<body>
    <h1>FênixWork</h1>
    <img height="320px" src="{{url_for('static', filename='home_handshake.jpg')}}" />

    <h2>Sobre o Site</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni expedita esse a nostrum, doloribus velit possimus
        totam distinctio corrupti aspernatur odit similique deleniti unde tempora, quasi sint facilis? Tempora, earum!
        Eius error itaque eum ipsum, numquam neque. Maiores dolore sunt facilis nobis voluptatum cupiditate esse,
        impedit pariatur omnis ratione exercitationem, error aspernatur sed? Veniam qui reiciendis ullam consequatur
        fugiat laborum.
        Error possimus voluptates dicta doloribus minima fuga harum deserunt tempora dignissimos, optio id dolore quos
        sapiente quis nostrum. Obcaecati ad reprehenderit magni aliquid dignissimos tenetur hic sunt ea eligendi
        dolores.
        Illo, quod. Sapiente officiis velit, ratione et aperiam dolore fuga tempora quam nemo fugiat expedita ipsam
        necessitatibus. Vero eum voluptates a est sunt ea, quibusdam facere voluptate dolorum doloribus molestias!
        Perspiciatis sit mollitia ipsa amet ut quisquam nobis, expedita quod, voluptatibus dolores ab! Atque mollitia,
        unde blanditiis quos adipisci maiores eius numquam sequi? Debitis, error iusto deserunt repudiandae esse
        maiores?
    </p>

    <h2>Vagas abertas</h2>
    <ul style="background-color: blanchedalmond;">
        <div style="background-color: skyblue;">
            <li></li>
        </div>
        <div style="background-color: skyblue;">
            <li></li>
        </div>
        <div style="background-color: skyblue;">
            <li></li>
        </div>
        <div style="background-color: skyblue;">
            <li></li>
        </div>
        <div style="background-color: skyblue;">
            <li></li>
        </div>
    </ul>

    <button>Entre em contato</button>

</body>

</html>